applications:
  zookeeper:
    charm:  cs:~narindergupta/zookeeper
    options:
      install_keys: "622CF918"
      install_sources: "{{ OS_VIP00 }}"
  kafka:
    charm:  cs:~narindergupta/kafka
    options:
      install_keys: "622CF918"
      install_sources: "{{ OS_VIP00 }}"
